option_settings:
  # The namespace for fetching secrets/parameters as environment variables
  aws:elasticbeanstalk:application:environmentsecrets:
    /going-dutch/GEMINI_API_KEY: arn:aws:ssm:ap-southeast-2:121885209291:parameter/going-dutch/GEMINI_API_KEY
    /going-dutch/OPEN_AI_API_KEY: arn:aws:ssm:ap-southeast-2:121885209291:parameter/going-dutch/OPEN_AI_API_KEY